<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="userDao" class="com.quizme.api.dao.JdbcUserDAO">
        <constructor-arg index="0">
            <ref bean="dataSource" />
        </constructor-arg>
    </bean>
    <bean id="questionDao" class="com.quizme.api.dao.JdbcQuestionDAO">
        <constructor-arg index="0">
            <ref bean="dataSource" />
        </constructor-arg>
    </bean>
    <bean id="activityDao" class="com.quizme.api.dao.JdbcActivityDAO">
        <constructor-arg index="0">
            <ref bean="dataSource" />
        </constructor-arg>
    </bean>
</beans>