html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

.header {
  background-color: #00a6d4;
  height: 120px; }
  .header .container {
    position: relative; }
    .header .container .brand {
      padding-top: 45px; }
    .header .container #user-nav {
      position: absolute;
      top: 45px;
      right: 1px; }
      .header .container #user-nav img {
        border-radius: 5px;
        margin-right: 6px;
        height: 25px; }
      .header .container #user-nav button {
        border: 2px solid white;
        color: white;
        background: none; }

.titlebar {
  height: 68px;
  border-bottom: 5px solid #3F6184;
  margin-bottom: 10px; }
  .titlebar .titlebar-text {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 200;
    padding-top: 20px;
    font-size: 1.3em; }

#homepage .home_header {
  background: url(https://s3.amazonaws.com/quizwhiz/layout/img/headerbgblur.png) -30px -779px; }
  #homepage .home_header .header_overlay {
    background: rgba(0, 166, 212, 0.6);
    height: 560px; }
    #homepage .home_header .header_overlay .container {
      position: relative; }
      #homepage .home_header .header_overlay .container.navigation {
        padding-top: 30px; }
      #homepage .home_header .header_overlay .container.bannerarea .quote {
        font-size: 26px;
        font-weight: 200;
        color: white;
        position: absolute;
        top: 200px; }
      #homepage .home_header .header_overlay .container .useractions {
        position: absolute;
        right: 0px;
        top: 40px; }
        #homepage .home_header .header_overlay .container .useractions button {
          text-transform: uppercase;
          color: white;
          font-size: 14px;
          outline: none; }
        #homepage .home_header .header_overlay .container .useractions #login-btn {
          margin-right: 25px;
          background: none;
          border: none; }
        #homepage .home_header .header_overlay .container .useractions #register-btn {
          border-radius: 15px;
          padding: 9px;
          border: 2px solid white;
          background: none; }
#homepage section.availableon {
  background-color: white;
  height: 112px;
  padding-top: 30px; }
  #homepage section.availableon .textcenter {
    text-align: center;
    display: block;
    font-weight: 20px;
    text-transform: uppercase;
    font-size: 20px; }
#homepage section.quote {
  background-color: #3F6184;
  height: 248px; }
  #homepage section.quote .container .pic {
    background-image: url(https://s3.amazonaws.com/quizwhiz/layout/img/girlsonphones.png);
    height: 248px; }
  #homepage section.quote .container .text {
    color: white;
    padding-top: 87px; }
    #homepage section.quote .container .text .maincap {
      font-size: 22px; }
    #homepage section.quote .container .text .subcap {
      font-size: 12px; }
#homepage section.features {
  background-color: white; }

#question-editor .input-group {
  padding-bottom: 5px; }

/*# sourceMappingURL=quizwhiz.css.map */
