@import 'quiztool';

html, body {
  height:100%;
  font-family:"Open Sans", sans-serif;
  font-weight:300;
  position:relative;

}
.wrap {
  min-height:100%;
}
.header {
  background-color:#00a6d4;
  height:120px;
  .container {
    position:relative;
    .brand {
      padding-top:45px;
    }
    #user-nav {
      position:absolute;
      top:45px;
      right:15px;
      img {
        border-radius:5px;
        margin-right:6px;
        height:25px;
      }
      button {
        border:2px solid white;
        color:white;
        background:none;
      }
    }
  }
}
.titlebar {
  height:68px;
  border-bottom:5px solid #3F6184;
  margin-bottom:10px;
  .titlebar-text {
    text-transform:uppercase;
    letter-spacing:3px;
    font-weight:200;
    padding-top:20px;
    font-size:1.3em;
  }
}

#homepage {
  .home_header {
    background: url(https://s3.amazonaws.com/quizwhiz/layout/img/headerbgblur.png) -30px -779px;
    .header_overlay {
      background:rgba(0,166,212,.60);

      height:560px;
      .container {
        position: relative;
        &.navigation {
          padding-top:30px;
        }
        &.bannerarea {
          .quote {
            font-size:26px;
            font-weight:200;
            color:white;
            position:absolute;
            top:200px;
          }
        }

        .useractions {
          position:absolute;
          right:0px;
          top:40px;
          button {
            text-transform:uppercase;
            color:white;
            font-size:14px;
            outline:none;
          }
          #login-btn {
            margin-right:25px;
            background:none;
            border:none
          }
          #register-btn {
            border-radius:15px;
            padding:9px;
            border:2px solid white;
            background:none;
          }
        }
      }
    }
  }
  section {
    &.availableon {
      background-color:white;
      height:112px;
      padding-top:30px;
      .textcenter {
        text-align:center;
        display:block;
        font-weight:20px;
        text-transform:uppercase;
        font-size:20px;
      }
    }
    &.quote {
      background-color:#3F6184;
      height:248px;
      .container {
        .pic {
          background-image:url(https://s3.amazonaws.com/quizwhiz/layout/img/girlsonphones.png);
          height:248px;
        }
        .text {
          color:white;
          padding-top:87px;
          .maincap {
            font-size:22px;
          }
          .subcap {
            font-size:12px;
          }
        }
      }
    }
    &.features {
      background-color:white;
    }
  }
}

#question-editor {
  .input-group {
    padding-bottom:5px;
  }
}
#activity-editor {
  .question-selector {
    ul {
      padding:0;
      .sortable-placeholder {
        border:1px dashed #CCC;
        height:45px;
        margin:5px 5px 5px 0px;
        list-style:none;
      }
      .question-list-item {
        list-style:none;
        margin: 5px 5px 5px 0px;
        padding: 5px;
        border: 1px solid lightgray;
        border-radius:5px;
        position:relative;
        cursor:move;
        .qi-name {
          font-weight:bold;
        }
        .qi-prompt {
          font-style:italic;
          color:#AAA;
          display:block;
        }
        .qi-options {
          position:absolute;
          right:5px;
          top:5px;
        }
      }
    }
  }
}
#addQuestionModal {
  .add-question-list {
    .ns-question-item {
      .question-name {

      }
      .prompt-sample {
        display:block;
        font-style:italic;
        font-size:10px;
      }
    }
  }
}
.content {
  padding-bottom:80px;
}
.footer {
  position:relative;
  margin-top:-80px;
  height:80px;
  clear:both;
  bottom:0;
  width:100%;
  background-color: #363636;
  color:#8b8b8b;
  font-size:12px;
  padding:10px;
  .container {
    position: relative;
    height:60px;
    .left {
      position: absolute;
      left:0;
      top:10px;
      .copyright{
        font-weight:400;
      }
      .buildnum {

      }
      .sublinks {
        a:link, a:hover, a:visited {
          color:#8b8b8b;
        }
      }
    }
    .right {
      position: absolute;
      width: 70px;
      height:66px;
      background-image:url(https://s3.amazonaws.com/quizwhiz/layout/img/footerlogo.png);
      right:0;
      top:00px;
      background-size:contain;
    }
  }
}